<!--contact -->
{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}

 <div class="container" style="background-color: white; opacity: 0.9; overflow:auto;">

    <div class="starter-template">
	    <h3> Jiayi Xie </h3>
	    <h4> jiayi.seis@gmail.com </h4>		    
	    <h4> <a href=https://github.com/jiayixie>Github</a></h4>
	    <h4> <a href=https://www.linkedin.com/in/jiayixie>LinkedIn</a></h4>
	   
<br>
<!---
<div>
	<img src="static/images/contact_bg.png" width="75%" height="75%" >
</div>
-->
    </div>
</div>
{% endblock %}
