{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="//select2.github.io/select2/select2-3.5.2/select2.css">
    <link rel="stylesheet" href="../static/css/select2-bootstrap.css">
        <link rel="stylesheet" href="../static/css/mycss.min.css">
{% endblock %}

{% block content %}
<div class="container" style="background-color: white; opacity: 0.9; overflow:auto;">
    
    <div class="starter-template">
        <h1> <b>SafeParking: Chicago</b></h1>
        <h3> <i>Find locations that you should avoid while parking</i> </h3>
    </div>
    
    <div class = "container">
        
        <form  action="/output" method="GET">
            <div class="form-group">
                <div class="form-group">
                    <div class="col-md-6 "  style="background-color: white; opacity: 0.85; overflow:auto; height:180px">
                        <h3>Address</h3>
                        <label for="ADDRESS" class="control-label">Where do you want to park?</label>
                        <!--<select id="ID" name="ID" class="form-control-hotel select2 form-control">
                         <option></option> -->
                        <input class="form-control" type="text" id="UIN" name='ADDRESS' placeholder="Chicago, IL ">
                            
                            
                            
                            <!--
                             
                             <option value="(&#39;C&#39;, &#39;i&#39;)">C, i</option>
                             
                             -->
                            <!-- </select>
                             
                             <label for="attr_types_user" class="control-label">Choose all you are interested in (e.g., museums, parks...):</label>
                             <select id="attr_types_user" name="attr_types_user" class="form-control-attr select2 form-control" multiple="multiple">
                             <option></option>
                             
                             
                             
                             </select>-->
                            </div>
                    <div class="col-md-6 "  style="background-color: white; opacity: 0.85; overflow:auto; height:180px">
                        <h3>Time</h3>
                        
                        <label for="TIME" class="control-label">Time to park:</label>
                        <select id="UIN" name="TIME" class="form-control-stars select2 form-control">
                            <option value="01">1:00AM</option>
                            <option value="02">2:00AM</option>
                            <option value="03">3:00AM</option>
                            <option value="04">4:00AM</option>
                            <option value="05">5:00AM</option>
                            <option value="06">6:00AM</option>
                            <option value="07">7:00AM</option>
                            <option value="08">8:00AM</option>
                            <option value="09" selected>9:00AM</option>
                            <option value="10">10:00AM</option>
                            <option value="11">11:00AM</option>
                            <option value="12">12:00AM</option>
                            <option value="13">1:00PM</option>
                            <option value="14">2:00PM</option>
                            <option value="15">3:00PM</option>
                            <option value="16">4:00PM</option>
                            <option value="17">5:00PM</option>
                            <option value="18">6:00PM</option>
                            <option value="19">7:00PM</option>
                            <option value="20">8:00PM</option>
                            <option value="21">9:00PM</option>
                            <option value="22">10:00PM</option>
                            <option value="23">11:00PM</option>
                            <option value="00">12:00PM</option>
                        </select>
                        <!--<select id="UIN" name="AMPM" class="form-control-stars select2 form-control">
                         <option value="01">AM</option>
                         <option value="02">PM</option>
                         </select>-->
                        <label for="DUR" class="control-label">Duration (hour):</label>
                        <select id="UIN" name="DUR" class="form-control-stars select2 form-control">
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="04" selected>4</option>
                            <option value="06">6</option>
                            <option value="08">8</option>
                            <option value="12">12</option>
                            <option value="16">16</option>
                            <option value="24">24+</option>
                        </select>
                    </div>
                </div>
                
            </div>
            
            <p></p>
            <div>
                <button type="submit"  class="btn btn-default btn-lg">Get my map!</button>
            </div>
            <br><br>
            
        </form>
    </div>

    <script>
	    function myFunction() {
	        location.reload();
		}
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    
    
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//select2.github.io/select2/select2-3.5.2/select2.js"></script>
    <script>
        var placeholder = "City";
        
        $( ".form-control-hotel" ).select2( { placeholder: placeholder,minimumInputLength: 0, } );
        </script>  
    <script>
        var placeholder = "Choose all what you want to see";
        
        $( ".form-control-attr" ).select2( { placeholder: placeholder,minimumInputLength: 0, } );
        </script>  
    <script>
        var placeholder = " ";
        
        $( ".form-control-stars" ).select2( { placeholder: placeholder,minimumInputLength: 0, } );
        </script> 
    <script>
        function filterResults(){
            var currstate = document.getElementById('ST');
            window.alert(currstate.value);
        }
    </script>
    
</div> <!-- /.container-->

{% endblock %}
