{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<!-- Slides Section  http://stackoverflow.com/questions/6666423/overcoming-display-forbidden-by-x-frame-options-->
<section id="Slides">
<div class="container" style="height:100%;">
</div>
<!---
<iframe src="https://docs.google.com/presentation/d/1_UT-WhiQpDSvBa0qaCZb6UTRrUk-MEfO-Ziio8spdEc/embed?start=false&loop=false&delayms=3000&slide=id.p" width="800" height="600"  frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" target='_top'></iframe>
<iframe width="800" height="600" src="https://drive.google.com/open?id=0B4KYWUlM5iOZTDlzOXdDQmM1Wms" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<iframe width="800" height="600" src="https://www.youtube.com/embed/gTCyknYSA2c" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<iframe width="800" height="600" src="https://www.linkedin.com/in/jiayixie" frameborder="0" allowfullscreen></iframe>	
<script async class="speakerdeck-embed" data-id="0c295752313647fa865f634eecf518c6" data-ratio="1.8" src="https://github.com/jiayixie/DSproject"></script>
<div class="container" style="height:100%;">
</div>
-->
</section>
{% endblock %}
